a, a:visited, h1 a:visited, a:active, #main .selected .actions a, #main .selected .actions a:link, #main .selected .actions a:visited, #help dt{
	color: #09C;	
}

a:hover, h1 a:hover, #main .selected .actions a:hover, #main .selected .actions a:active{
	color: #44AEFD;	
}

#wrapper button, #wrapper input[type="submit"],
#wrapper button:active, #wrapper input[type="submit"]:active{
	background: #09C url("i/button_bg_blue.png") repeat-x top left;	
	border-color: #09C;
}

#wrapper button:active, #wrapper input[type="submit"]:active {
	background-position: 0 -32px;
	background-color: #09C;
}